AZURE_VOICELIVE_ENDPOINT=""
AZURE_VOICELIVE_AGENT_ID=""
AZURE_VOICELIVE_PROJECT_NAME=""
AZURE_VOICELIVE_API_VERSION=""
AZURE_ENV_NAME=""
AZURE_LOCATION=""
AZURE_SUBSCRIPTION_ID=""
AZURE_EXISTING_AIPROJECT_ENDPOINT=""
AZURE_EXISTING_AIPROJECT_RESOURCE_ID=""
AZD_ALLOW_NON_EMPTY_FOLDER=true